:root {
  --gray: #9e9e9e;
  --dgray: #777;
  --white: #ffffff;
  --teal: #2a9d8f;
  --red: #e63946;
  --blue: rgb(34, 83, 184);
  --black: rgb(52, 52, 52);
  --yellow: #ffbe0b;
  --orange: #ff6b35;
  --bluesky: #caf0f8;
}

// 사이드 바
#introduceMenu {
  position: fixed;
  top: 75px;
  left: 0;
  width: 100%;
  display: flex;
  background-color: transparent;
  color: var(--white);
  z-index: 100;
}

#introduceMenuback {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 1;
  background-color: var(--blue);
  opacity: 0.7;
}
#introMenu {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-bottom: 1px var(--dgray) solid;
}

#introMenu2 {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-bottom: 1px var(--dgray) solid;
}

#introMenu3 {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-bottom: 1px var(--dgray) solid;
}

.introMenuColor {
  background-color: var(--blue);
}
