:root {
  --white: #fff;
  --dblue: #092140;
  --green: #00eab4;
  --black: #000;
  --lowblack: #666;
  --sans: "Source Sans Pro", sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media all and (min-width: 730px) {
  #footer {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 5%;
    font-size: 12px;
    color: var(--lowblack);
  }

  #footer-con1 span {
    margin-right: 10px;
    text-decoration: underline;
    cursor: pointer;
  }

  #footer-con1 p {
    line-height: 18px;
    letter-spacing: -0.3px;
    margin: 0;
  }

  #footer-con1 li {
    margin: 10px 0;
  }
  #footer-con2 {
    font-size: 70px;
    color: var(--green);
  }
}

@media all and (max-width: 768px) {
  #footer {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 5%;
    font-size: 12px;
    color: var(--lowblack);
  }

  #footer-con1 span {
    margin-right: 10px;
    text-decoration: underline;
    cursor: pointer;
  }

  #footer-con1 p {
    line-height: 18px;
    letter-spacing: -0.3px;
    margin: 0;
  }

  #footer-con1 li {
    margin: 10px 0;
  }

  #footer-con2 {
    border-top: 1px solid #ddd;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(221, 221, 221);
    font-size: 70px;
    text-align: center;
    padding-top: 20px;
    color: var(--green);
  }
}
