body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

#main-con {
  background-image: url(../image/wood.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-slide {
  display: none;
}

#slidon {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  font-weight: bold;
  align-items: center;
}

#main-con2 {
  background-image: url(../image/lake.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#main-con3 {
  background-image: url(../image/wood.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#main-con4 {
  background-image: url(../image/wood.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
