:root {
  --gray: #9e9e9e;
  --white: #ffffff;
  --teal: #2a9d8f;
}

/* 위치 설정 */

#header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--teal);
}

#hdback {
  width: 80%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* hdbox 설정 */

#hdlog {
  font-size: 20px;
  text-decoration: none;
  color: var(--white);
  font-weight: bold;
}

/* hdbox2 설정 */
#hdbox2 {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#hdspan {
  font-size: 16px;
  color: var(--white);
}

#hdlabel {
  font-size: 25px;
  color: var(--white);
  margin-left: 10px;
}

/* 로그인 모달창  */

#loginModal {
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 50% !important;
  top: 50% !important;
  padding: 0 !important;
  transform: translate(-50%, -50%);
}
