:root {
  --gray: #9e9e9e;
  --white: #ffffff;
  --teal: #2a9d8f;
  --red: #e63946;
}

.hid {
  display: none !important;
}

.vishid {
  visibility: hidden;
}
/* 기본 위치 설정 */
#sidmenu {
  position: fixed;
  top: 20%;
  right: 3%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}

#sidmenumain {
  width: 60px;
  height: 60px;
  font-size: 20px;
  background-color: var(--teal);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  color: var(--white);
  font-size: 25px;
  text-decoration: none;
  cursor: pointer;
  /* transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms; */
}

#sidmenumain2 {
  width: 50px;
  height: 50px;
  font-size: 20px;
  background-color: var(--teal);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  color: var(--white);
  font-size: 25px;
  text-decoration: none;
  cursor: pointer;
}

.sidsub {
  display: flex;
  align-items: center;
}

.sidhover {
  font-size: 12px;
  color: var(--white);
  font-weight: bold;
  margin-right: 10px;
}
